BeautifulSoup==3.2.1
CDDB==1.4
Flask==0.10.1
GnuPGInterface==0.3.2
Jinja2==2.7.1
Kivy==1.6.0
MarkupSafe==0.18
PIL==1.1.7
Pygments==1.5
SOAPpy==0.12.0
Werkzeug==0.9.4
argparse==1.2.1
chardet==2.0.1
cups==1.0
defer==1.0.6
## FIXME: could not find svn URL in dependency_links for this package:
distribute==0.6.24dev-r0
docutils==0.8.1
feedparser==5.1.2
fpconst==0.7.2
gunicorn==18.0
itsdangerous==0.23
lxml==2.3.2
mutagen==1.20
numpy==1.6.2
pexpect==2.4
pycurl==7.19.0
pygame==1.9.1release
pyinotify==0.9.3
python-apt==0.8.8.2
python-debian==0.1.21
python-debianbts==1.11
python-musicbrainz2==0.7.4
quodlibet==2.4
reportbug==6.4.4
reportlab==2.5
requests==2.1.0
uTidylib==0.2
unattended-upgrades==0.1
virtualenv==1.11
wsgiref==0.1.2
