<h1>About</h1>
<p>This site was designed to answer the following question;</p>
<p style="margin-left:2em;"><i>Where and when are all 12 of the Wakefield Hockey Club sides playing this weekend?</i></p>
<p>Previously this process could involve scouring several websites , (FixturesLive, YorkshireHA, Pitchero) to determine that information. Thankfully, <a href="/">whcfix.com</a> does that searching for you.</p>
<h1>Contributing</h1>
<p><a href="/">whcfix.com</a> makes use of free and open technologies which you're more than welcome to contribute to <a href="http://github.com/Horb/whcfix/">on the github repository</a>. Technologies include;</p>
<ul>
    <li><a href="http://flask.pocoo.org/">Flask</a>, a Python web microframework.</li>
    <li><a href="http://www.crummy.com/software/BeautifulSoup/">Beautiful Soup</a> for scraping data from other sites.</li>
</ul>
