{% extends "base.html" %}
{% block breadcrumbs %}
{% endblock %}

{% block body %}
    {% if nextMatches %}
        <div class="row">
            <div class="col-xs-12 col-md-9">
                {% include "next_match_snippet.html" %}
            </div>
            <div class="col-xs-12 col-md-3">
                {% include "whc_twitter_feed.html" %}
            </div>
        </div>
    {% endif %}
    {% if recent_form %}
        <div class="row">
            <div class="col-xs-9">
            {% include "recent_form_snippet.html" %}
            </div>
        </div>
    {% endif %}
    {% if lastResults %}
        <div class="row">
            <div class="col-xs-12">
            {% include "last_result_snippet.html" %}
            </div>
        </div>
    {% endif %}
{% endblock %}
