{% extends "base.html" %}
{% block breadcrumbs %}
{% endblock %}

{% block body %}
    {% if session.logged_in %}
    <div class="row">
        <div class="col-sm-12">
        <h3>Write A New Article</h3>
        <form action="{{ url_for('add_news') }}" method="post" class="form-horizontal">
            <div  class="form-group">
                <label for="Title" class="col-sm-2 control-label">Title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Title" 
                           placeholder="News Article Title" name="title"></input>
                </div>
            </div>
            <div  class="form-group">
                <label for="Body" class="col-sm-2 control-label">Body</label>
                <div class="col-sm-10">
                    <textarea type="text" class="form-control" id="Body" placeholder="" name="body"></textarea>
                </div>
            </div>
            <div  class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>
        </div>
    </div>
    {% endif %}
    {% if posts %}
        {% for post in posts %}
        <div class="row">
            <div class="col-xs-12">
                <h1>{{post.title}}</h1><a>Edit {{post.title}}</a>
                <p>{{post.created_date}}</p>
                <p>{{post.body}}</p>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="row">
            <div class="col-xs-12">
                <h1>Nothing Here</h1>
            </div>
        </div>
    {% endif %}
{% endblock %}
