<div class="col-xs-12">
    <h3><a href="/next_match">Up Coming Matches</a></h3>
    {% if matches %}
    <table class="table">
        <thead>
            <tr>
                <td class="visible-sm visible-xs" style="text-align:center;">Date/Time</td>
                <td class="hidden-sm hidden-xs">Date</td>
                <td class="hidden-sm hidden-xs">Time</td>
                <td>Home</td>
                <td>Away</td>
                <td class="hidden-sm hidden-xs">Venue</td>
            </tr>
        </thead>
        <tbody>
            {% for match in nextMatches %}
            <tr>
                <td class="visible-sm visible-xs" style="text-align:center;">{{match.date_string()}}<br/>{{match.time_string()}}</td>
                <td class="hidden-sm hidden-xs">{{match.date_string()}}</td>
                <td class="hidden-sm hidden-xs">{{match.time_string()}}</td>
                {% if "Wakefield" in match.home %}
                <td><a href="/teams/{{match.home}}/">{{match.home}}</a></td>
                {% else %}
                <td>{{match.home}}</td>
                {% endif %}
                {% if "Wakefield" in match.away %}
                <td><a href="/teams/{{match.away}}/">{{match.away}}</a></td>
                {% else %}
                <td>{{match.away}}</td>
                {% endif %}
                <td class="hidden-sm hidden-xs">{{match.venue}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div>
            <p>No information on up coming matches is available. Check back soon!</p>
        </div>
    {% endif %}
</div>
