{% extends 'base.html' %}
{% block body %}
<div class="row">
    <div>
        <h3>{{home}} vs {{away}}</h3>
            <form action="{{ url_for('submit_match_report', 
                             home=home,
                             away=away,
                             date=date,
                             time=time) }}" 
                  enctype="multipart/form-data" 
                  method="post" 
                  class="form-horizontal">

                <div  class="form-group">
                    <label for="Body" class="col-sm-2 control-label">Body</label>
                    <div class="col-sm-10">
                        <textarea style="height:400px;" type="text" class="form-control" id="Body" name="body"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="image" class="col-sm-2 control-label">Image</label>
                    <div class="col-sm-10">
                        <input type="file" name="image"></input>
                    </div>
                </div>
                <div  class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        </div>
{% endblock %}
